// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Datatables BS4
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";
